<div class="sfondo text-light">

  <div class="">
    <nav class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-5">
        <div class="pointer" routerLink="marketplace">
          ACQUISTA
        </div>
        <div routerLink="login" class="pointer">
          VENDI
        </div>
      </div>

      <div class="titolo">
        <div>
          ARTIGIANI
        </div>
        <div>
          ARTIGIANI
        </div>
        <div>
          ARTIGIANI
        </div>
        <div>
          ARTIGIANI
        </div>
        <div>
          ARTIGIANI
        </div>
        <div>
          ARTIGIANI
        </div>
      </div>

      <div class="d-flex align-items-center gap-5">
        <div routerLink="registrati" class="pointer">
          REGISTRATI
        </div>
        <div>
          <button class="bottone-white" routerLink="login">
            LOG IN
          </button>
        </div>
      </div>
    </nav>














  </div>





</div>
