<div class="card productss">
  <h2 class="text-center">{{ productData.name }}</h2>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="image-thumbnails">
       <img
          *ngFor="let image of productData.images; let i = index"
          [src]="'data:image/jpeg;base64,' + image.imageData"
          alt="Product Image"
          (click)="showImage(i)"
          max-width="50px"
          />
      </div>
      <div>
        <p>Description: {{ productData.description }}</p>
        <p>Price: ${{ productData.price }}</p>
        <p>Created At: {{ productData.createdAt }}</p>
      </div>
    </div>
      <div class="d-flex flex-column align-items-end">
        <button class="btn btn-warning mb-2">Modifica</button>
        
        <button class="btn btn-danger">Elimina</button>
      </div>
  </div>
</div>