<div class="card">
  <div class="image-thumbnails">
    <img
      *ngFor="let image of productData.images; let i = index"
      [src]="'data:image/jpeg;base64,' + image.imageData"
      alt="Product Image"
      (click)="showImage(i)"
    />
  </div>

  <h2>{{ productData.name }}</h2>
  <p>Description: {{ productData.description }}</p>
  <p>Price: ${{ productData.price }}</p>
  <p>Created At: {{ productData.createdAt }}</p>
  <p>Updated At: {{ productData.updatedAt }}</p>
  <p>rating: {{ productData.productRating.toFixed(1) }}</p>
  <button (click)="getReviews(productData.productId)">Show Reviews</button>
  <div *ngIf="isRouterPageAdmin(); else nonAdminContent">
    <button (click)="onDelete(productData.productId)">Delete</button>
  </div>
  <div *ngIf="showReview">
    <tr *ngFor="let review of reviews">
      <td>{{ review.comment }}</td>
      <td>{{ review.rating }}</td>
    </tr>
  </div>

  <ng-template #nonAdminContent>
    <div [formGroup]="descriptionForm">
      <input formControlName="comment" placeholder="Description" />
      <input
        formControlName="rating"
        type="number"
        placeholder="Rating from 1-10"
      />
      <button (click)="addDescription(productData.productId)">
        Add Review
      </button>
    </div>
  </ng-template>
</div>
