<div class="contenitore nunito">
  <form action="">
    <div class="d-flex">
      <div class="black-side d-flex flex-column align-items-center justify-content-center gap-4">

        <div class="text-white koulen back" routerLink="">
          < back
        </div>

        <div class="d-flex flex-column">
          <label for="" class="text-light">Email</label>
          <input type="text">
        </div>
        <div class="d-flex flex-column">
          <label for="" class="text-light">Password</label>
          <input type="text">
        </div>
        <div class="text-light mt-3">
          <div>Hai gia un account?<span routerLink="/login" class="pointer"> Accedi</span></div>
        </div>

      </div>
      <div class="white-side">
        <button class="koulen">
          <span class="box">
            Registrati
          </span>

        </button>
      </div>
    </div>
  </form>
</div>
