<div class="koulen container oscura">
  <nav class="d-flex align-items-center justify-content-between pt-5">
    <div class="saluti"><span>👋</span>Ciao artigiano {{ user!.email }}</div>
    <div class="icona">
      <i class="fa-solid fa-circle-user"></i>
    </div>
  </nav>

  <div class="mt-4">
    <button class="koulen" routerLink="">< Back</button>

    <button class="koulen" (click)="visualizzaModale()">+ Add product</button>
    <app-create-category></app-create-category>

    <div *ngIf="modaleVisibile" class="form">
      <form [formGroup]="productForm" enctype="multipart/form-data">
        <div class="modale nunito">
          <input
            type="file"
            #filePicker
            (change)="onImagePicked($event)"
            accept="image/*"
          />
          <img
            [src]="selectedImage"
            alt="Selected Image"
            *ngIf="selectedImage"
          />
          <div class="mt-5">
            <input
              type="text"
              placeholder="Titolo del Prodotto"
              class="titolo"
              formControlName="name"
            />
            <input
              type="text"
              placeholder="Descrizione del Prodotto"
              class="description"
              formControlName="description"
            />
          </div>
          <div class="mt-5 d-flex justify-content-end">
            <input
              type="text"
              class="prezzo"
              placeholder="Prezzo"
              formControlName="price"
            />
          </div>
          <div class="mt-5">
            <div
              *ngFor="let category of categories; let i = index"
              class="col-md-2 text-white"
            >
              <label>
                <input
                  type="checkbox"
                  [value]="category.categoryId"
                  (change)="onCheckChange($event)"
                />
                {{ category.name }}
              </label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4 gap-4">
          <button type="submit" class="bottoni-modale" (click)="onSubmit()">
            <i class="fa-solid fa-cloud-arrow-up"></i> Submit
          </button>
          <button
            type="button"
            class="bottoni-modale"
            (click)="visualizzaModale()"
          >
            <i class="fa-solid fa-xmark"></i> Cancel
          </button>
        </div>
      </form>
    </div>
    <div class="card-container">
      <app-product-card
        *ngFor="let product of products"
        [productData]="product"
      ></app-product-card>
    </div>
  </div>

  <main class="mt-5">
    <!-- Your product display area goes here -->
  </main>
</div>
