<div>
  <nav class="d-flex align-items-center justify-content-between">
    <div class="koulen fs-2 logo" routerLink="">ARTIGIANI</div>

    <div class="d-flex fs-2 gap-5">
      <div class="pointer" routerLink="/carrello">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
      <div>
        <i class="fa-solid fa-gear"></i>
      </div>
      <div>
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </nav>

  <main class="d-flex">
    <div class="grey-side d-flex justify-content-center">

      <div>
        <label for="" class="nunito">Cerca</label> <br>
        <input type="text" class="mt-2">
      </div>

    </div>

    <div class="white-side gap-4">

      <div class="cards">
        <div class="immagine">
          <img src="" alt="" />
        </div>
        <div class="nunito fs-3 mt-3">
          Titolo del Prodotto
        </div>
        <div class="descrizione">
          breve descrizione del prodotto con le sue caratteristiche
        </div>
        <div class=" d-flex justify-content-between align-items-center mt-3">
          <div class="nunito prezzo fs-2">
            $10.00
          </div>
          <div class="bottone-hover d-none fs-5 text-light align-items-center justify-content-center pe-1 pt-1">
            <i class="fa-solid fa-cart-plus"></i>
          </div>
        </div>

      </div>

      <div class="cards">
        <div class="immagine">
          <img src="" alt="" />
        </div>
        <div class="nunito fs-3 mt-3">
          Titolo del Prodotto
        </div>
        <div class="descrizione">
          breve descrizione del prodotto con le sue caratteristiche
        </div>
        <div class=" d-flex justify-content-between align-items-center mt-3">
          <div class="nunito prezzo fs-2">
            $10.00
          </div>
          <div class="bottone-hover d-none fs-5 text-light align-items-center justify-content-center pe-1 pt-1">
            <i class="fa-solid fa-cart-plus"></i>
          </div>
        </div>

      </div>
    </div>
  </main>
</div>
