<div>
  <nav class="d-flex align-items-center justify-content-between">
    <div class="koulen fs-2 logo" routerLink="">ARTIGIANI</div>

    <div class="d-flex fs-2 gap-5">
      <div class="pointer" routerLink="/carrello">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
      <div>
        <i class="fa-solid fa-gear"></i>
      </div>
      <div>
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </nav>

  <main class="d-flex">
    <div class="grey-side d-flex justify-content-center">
      <div>
        <label for="" class="nunito">Cerca</label> <br />
        <input type="text" class="mt-2" />
      </div>
    </div>

    <div class="white-side gap-4">
      <div class="category-buttons flex">
        <ul>
          <li *ngFor="let category of categories">
            <button class="category-button" (click)="clickedCategory(category)">
              {{ category.name }}
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="white-side gap-4">
      <ng-container *ngIf="!clicked; else categoryProductsSection">
        <app-product-card
          *ngFor="let product of allProducts"
          [productData]="product"
        ></app-product-card>
      </ng-container>

      <ng-template #categoryProductsSection>
        <app-product-card
          *ngFor="let product of categoryProducts"
          [productData]="product"
        ></app-product-card>
      </ng-template>
    </div>
  </main>
</div>
