<div>
  <nav class="d-flex align-items-center justify-content-between">
    <div class="koulen fs-2 logo" routerLink="">ARTIGIANI</div>

    <div class="d-flex fs-2 gap-5">
      <div class="pointer" routerLink="/carrello">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
      <div>
        <i class="fa-solid fa-gear"></i>
      </div>
      <div>
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </nav>

  <main class="d-flex">
    <div class="grey-side d-flex justify-content-center">
      <div>
        <label for="" class="nunito fs-5">Search</label> <br />
        <input
          type="text"
          class="mt-2"
          #nome
          (keyup.enter)="renderByName(nome.value)"
        />
        <div
          class="d-flex justify-content-around bg-secondary align-items-center flex-column mt-4 rounded"
        >
          <div *ngFor="let category of categories; let i" class="w-100">
            <button
              class="btn btn-secondary w-100"
              [ngClass]="{
                'btn-secondary': clickCategory !== i,
                'btn-danger': clickCategory === i
              }"
              (click)="clickedCategory(category, i)"
            >
              {{ category.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column w-100">
      <div *ngIf="clicked">
        <div class="fs-4 m-4 d-flex align-items-center">
          {{ categoryName }}
        </div>
      </div>
      <div *ngIf="!clicked">
        <div class="fs-4 m-4 d-flex align-items-center">
          Recommended Products
        </div>
      </div>

      <div class="row">
        <ng-container *ngIf="!clicked; else categoryProductsSection">
          <app-product-card
            *ngFor="let product of allProducts"
            [productData]="product"
            class="col-sm"
          ></app-product-card>
        </ng-container>
        <ng-template #categoryProductsSection>
          <app-product-card
            *ngFor="let product of categoryProducts"
            [productData]="product"
            class="col-sm"
          ></app-product-card>
        </ng-template>
      </div>
    </div>
  </main>
</div>
